.preloader {
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
}

.none {
    display: none;
}

.wrong {
    display: flex;
    justify-content: center;
}

#wrong {
    background-color: #FF5252FF;
}